<configuration>

	<!-- Disable logback initialization logs -->
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/opt/${cmd.mount}/logs/\${user.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/opt/${cmd.mount}/logs/roll-by-size/\${user.name}.%i.log.gz</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>9</maxIndex>
			<totalSizeCap>200MB</totalSizeCap>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>16MB</maxFileSize>
		</triggeringPolicy>
		<encoder class="com.github.llbrt.utils.logs.ExtendedPatternLayoutEncoder">
			<pattern>%processId %d [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="FILE" />
	</root>
</configuration>
